<!DOCTYPE html>
<html>
<head>
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>TOlist</title>
    <!-- Materialize CSS Resources -->
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
    {{!--Material Design Icons courtesy of Google--}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    {{{body}}}

    <footer>
        <!-- Loading Status Background div -->
		<div id="dim-page-loader" style="
				display: none;
				background: white url('/assets/img/loading.gif') no-repeat 50% 50%;
				opacity: 0.8;
				width:100%;
				height:100%;
				position:fixed;
				top:0;
				left:0;
				z-index:1003;">&nbsp;
		</div>
        <!-- Materialize JS Resources -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/assets/js/materialize.min.js"></script>
        <script src="/assets/js/bundle.js"></script>
        <!-- Google Maps API Resources -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2iqEZlM7UcQxOHWujFQD2_OTU2m5rnRM"></script>
    </footer>
</body>
</html>