<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TOlist</title>
    <!-- Materialize CSS Resources -->
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    {{!--Material Design Icons courtesy of Google--}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    {{{body}}}

    <footer>
        <!-- Materialize JS Resources -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="assets/js/materialize.min.js"></script>
        <script src="assets/js/bundle.js"></script>
    </footer>
</body>
</html>