<h1>Helloworld yo!!</h1>
<div id="container"></div>
<script>
    import React from 'react';
    import ReactDOM from 'react-dom';
    import Layout from './components/Layout';

    window.onload = () => {
    ReactDOM.render(<Layout />, document.getElementById('container'));
    };
</script>