* {
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}

body {
	background-color:black;
}

.card {
    width: 33%;
    display: inline-block;
    margin: 1px;
    border: none;
}

.card img {
    width: 100%;
}

.corner-menu {
    position: fixed;
    top: 30px;
    right: 30px;
}

.container {
    padding: 2px 16px;
}

@media only screen and (max-width: 800px) {
    .card {
        width: 48%;
    }
}