body {
    background-color:#fafafa;
    padding-top: 56px;
}

#container .container {
    width: 100%;
    max-width: 100%;
}

#container .container .row {
    margin: 0px;
}

 nav {
    /* color: #000; */
    background-color: #000000;
    width: 100%;
    height: 56px;
    line-height: 56px;
    position: fixed;
    z-index: 99; 
    left: 0px;
    top: 0px;    
    box-shadow: 0px 0px 0px 0px;
}

nav .brand-logo {
    position: absolute;
    color: #ffffff; 
    display: inline-block;
    font-size: 16px;
    padding: 0;
    
} 

.brand-logo img {
    width: 70%;
    padding: 15px;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
 nav ul a {
    /* transition: background-color .3s;     */
    color: #ffffff;
    display: block;
    padding-left: 5px;
    margin-right: 15px;
    cursor: pointer;
} 
@media only screen and (min-width: 601px){ 
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 56px;        
    }
}

nav .input-field label i {
    color: #ffffff;
} 
nav .input-field label.active i {
    color: #ffffff;
}
nav .nav-wrapper i{
    line-height: 55px;
}
nav .input-field{
    border-radius:5px;

}
.profilePageHeader {
    margin-top: 90px;
    margin-left: 15px;
}

/* Input field bottom border on focus */
 input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
} 

.custom_search_invisible {
    /* visibility: hidden; */
    display:none; 
    all: default;
    position: fixed;
    top: 56px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
}

.custom_search {
    /* visibility: visible; */    
    all: default;
    position: fixed;
    top: 56px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
}

.custom_search input[type="search"] {
    all: default;
    position: absolute;
    height:100%;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    outline: none;
    border-bottom: 0px;
}

.z-depth-1, .card {
     box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fafafa;
}

.card {
    width: 33%;
    display: inline-block;
    /* margin: 15px; */
    /*border: 1px solid#eeeeee;*/
    border-radius: 0;
    background-color: #fafafa;
}

.card a, .card a img {
    width: 75%;
}

.card .card-image img {
     border-radius: 0 0 0 0;
}

.card .card-content{
    color: #5a5757;
    font-size: 13px;
}

.card .card-title {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.card .card-content .card-title {
    display: block;
    line-height: 15px;
    margin-bottom: 8px;
}

.banner {
    height: 400px;
    background-color: #fafafa;
    /*background-image: url('/assets/img/toronto3.jpg');*/
    background-size: 100%;
}

.floatingBackButton {
    position: fixed !important;
    z-index: 9999;
    top: 30px;
    left: 30px;
}

.btn-blue {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    background-color: #2199e8;
    color: #fefefe;
}

.btn {
    border-radius: 0;
}

.login-button {
    width: 100%;
    font-size: 17px;
}

.scrollButton {
    display: inline-block;
    margin-bottom: 20px;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    line-height: 40px;
}

.btn-floating {
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: lightcoral;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}
.modalButtonClose {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
    padding: 8px 22px 0px 24px;
    color: #26a69a;
    line-height: 26px;
    font-size: 22px;
    text-transform: none;
    /*border: 1px solid #ffffff;*/
    border-radius: 0px 0px 0px 0px;
    border-right: none;
    border-top: none;
    box-shadow: none;
    background-color: inherit;
}

.modalButtonClose:hover {
    background-color: #e1e1e1;
    box-shadow: none;
}

#postModal {
    width: 70%;
    /* height: 95%; */
    /* max-height: 100%; */
    border-radius: 2px;
    top: 10px !important;
}

 .modal .modal-footer{
    background-color: #000000;
    color: #ffffff;         
    padding-top: 15px;
} 

#postModal .modal-content {
    padding: 0px;
}

.carousel {
    height: inherit !important;
}

.carousel-item {
    width: 700px !important;
    top: -75px !important;
}

.postImagesSlideshow, .postLocationMap {
    background-color: turquoise;
    height: 350px;
    padding: 0px !important;
}

/* .postContact {
     background-color: lightgreen; 
     width: 150px; 
     height: 400px; 
} */

#navigationModal .modal-content {
    padding: 30px 40px;
}

.modal .modal-content {
    padding: 10px 30px;
}

/* search box color modification*/
  .input-field input[type=search]:focus {
    background-color: #ffffff;
    color: #000000;
}  

.nav-wrapper form {
    display: inline-block;
    margin-left: 300px;
    width: 400px;
}

/* set modal window's height and width */
.modal {
    border-radius: 0px;
    max-height: 90%;
    width: 35%;
}

/* .Map {
    height: 300px;
    position: absolute;
    width: 100%;
}
.GMap-canvas {
    display: block;
    width: 100%;
    height: 100%;
} */

.GMap{
    width: 100%;
    height: 300px;
}

.postImagesSlideshow, .postLocationMap {
    background-color: #e1e1e1;
    height: 350px;
    padding: 0px !important;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {
.card {
        width: 100%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 401px) and (max-width : 700px) {
.card {
        width: 50%;
    }
}

/* ----------- Medium Screens ----------- */
@media only screen  and (min-width : 1224px) {
.card {
        width: 33.33333%; /* fallback width */
        width: calc(100% / 3);
    }
}

/* ----------- Large screens ----------- */
@media only screen  and (min-width : 1200px) {
.card {
        width: 25%;
    }
}
