@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.card.large{
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.card-panel{
    border: 1px solid #eee;
    box-shadow: none;
    border-radius: 10px;
}

body {
    background-color:#fafafa;
    padding-top: 20px;
}

#container .container {
    padding-top: 10px;
    width: 95%;
    max-width: 100%;
}

#container .container .row {
    margin: 0px;
}

.app-content-paginationButton {
    margin-top: 30px;
    margin-bottom: 20px;
}

.side-nav li a {
    padding-left: 16px;
}

.side-nav li:hover {
    background-color: #E6E6E6;
}


/* .side-nav {
    background-color: #222;
} */

/* .side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: #fff;
} */

nav {
    background-color: #000000;
    width: 100%;
    z-index: 99;
    left: 0px;
    top: 0px;
    /* box-shadow: 0px 0px 0px 0px; */
}

.navbar-fixed {
    z-index: 999;
}

nav ul li:hover {
    background-color: #2A2A2A;
    /* background-color: none;  */
}

/* nav .brand-logo {
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
} */

/* .brand-logo img {
    width: 70%;
    padding: 15px;
} */

.dropdown-content {
    background-color: #FFFFFF;
    min-width: 200px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    position: absolute;
    z-index: 999;
    will-change: width, height;
}

/* Setting dropdown selection list scrollable */
.select-dropdown{
    overflow-y: auto !important;
}

.dropdown-content :active {
    top: 50px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #000;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

nav ul a {
    color: #ffffff;
    font-weight: normal;
    display: block;
    cursor: pointer;
    padding: 0 15px 0 15px;
}

nav .input-field label i {
    color: #ffffff;
}

nav .input-field label.active i {
    color: #ffffff;
}

/* data-sucess color */
input:not([type]).valid+label:after, input:not([type]):focus.valid+label:after, input[type=text].valid+label:after, input[type=text]:focus.valid+label:after, input[type=password].valid+label:after, input[type=password]:focus.valid+label:after, input[type=email].valid+label:after, input[type=email]:focus.valid+label:after, input[type=url].valid+label:after, input[type=url]:focus.valid+label:after, input[type=time].valid+label:after, input[type=time]:focus.valid+label:after, input[type=date].valid+label:after, input[type=date]:focus.valid+label:after, input[type=datetime].valid+label:after, input[type=datetime]:focus.valid+label:after, input[type=datetime-local].valid+label:after, input[type=datetime-local]:focus.valid+label:after, input[type=tel].valid+label:after, input[type=tel]:focus.valid+label:after, input[type=number].valid+label:after, input[type=number]:focus.valid+label:after, input[type=search].valid+label:after, input[type=search]:focus.valid+label:after, textarea.materialize-textarea.valid+label:after, textarea.materialize-textarea:focus.valid+label:after {
    content: attr(data-success);
    color: #000;
    opacity: 1;
}

.input-field label{
    font-size: 14px;
    /* font-weight: 300; */
}
/* email */
.input-field input[type=email]:focus + label {
    color: #000;
}

/* text */
.input-field input[type=text]:focus + label {
    color: #000;
}

/* password */
.input-field input[type=password]:focus + label {
    color: #000;
}

/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}

.input-field input[type=password].valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #18ffff;
}

/* Input field bottom border on focus */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #18ffff;
    box-shadow: none;
}
textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: none;
}

textarea.materialize-textarea:focus:not([readonly])+label{
    color:#000;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  /* -webkit-text-fill-color: #fff; */
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

/* Navigation search bar */
.custom_search_invisible {
    /* visibility: hidden; */
    display:none;
    opacity: 0;
    transition: opacity .2s, visibility 0s .2s;
}

.custom_search {
    display: block;
    /* visibility: visible; */
    transition: opacity .3s, visibility 0s;
    all: default;
    position: fixed;
    left: 0px;
    /* top: 0px; */
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.9);
}

.custom_search input[type="search"] {
    all: default;
    position: absolute;
    height:100%;
    width: 100%;
    color: #fff;
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
    border-bottom: none !important;
    box-shadow: none !important;

}

.search_close{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 45px !important;
}

/* Banner */
.banner {
    height: 250px;
    width: 100%;
    background-color: #000;
    /*background-image: url('/assets/img/toronto3.jpg');*/
    /* background-size: 100%; */
}

.modalButtonClose {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px 10px 0px 0px;
    color: #000;
}

.postModalButtonClose {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px !important;
    padding: 15px 10px 0px 0px;
    color: #000;
}
/* set modal window's height and width */
.modal {
    /* border-radius: 0px; */
    max-height: 100%;
    max-width: 100%;
}

.postModal {
    width: 80%;
    /* height: 95%; */
    /* max-height: 95%; */
    border-radius: 2px;
    top: 10px !important;
}

.postModal .modal-content {
    padding: 0px;
}

/* .modal-content {
    padding: 10px 30px;
} */

.carousel {
    height: inherit !important;
    background-color: black;
}

.carousel-item {
    width: inherit !important;
    height: inherit !important;
}

.carousel-image {
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

.postImagesSlideshow, .postLocationMap {
    background-color: #e1e1e1;
    height: 732px;
    padding: 0px !important;
}

.form-items-gallery-picture {
    max-width: 200px;
}

#navigationModal .modal-content {
    padding: 30px 40px;
}

.nav-wrapper form {
    display: inline-block;
    margin-left: 300px;
    width: 400px;
}

.GMap{
    width: 100%;
    /* height: 300px; */
}

.card .card-image img {
    border-radius: 10px 10px 0 0 !important;
}

/*****GAYCHEY'S EDITS******/
.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow:none;
}

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

nav .material-icons  {
    color: #18ffff;
}

.brand-logo img {
    padding-left: 10px;
    height: 30px;
    margin-top: 15px;
}

p .material-icons{
    position: relative;
    top: 2px;
    font-size: 18px;
    color: #9C9A9A;
}

.card {
    border: 1px solid #eee;
    box-shadow: none;
    border-radius: 10px;
}

.card .card-title{
    font-size: 20px;
}

.card .card-action{
    border-radius: 0 0 10px 10px;
    padding: 10px 10px;
}

.card-image-price {
    position: absolute;
    right: 0px;
    top: 0;
    width: 70px;
    height: 50px;
    padding-top: 14px;
    background-color: rgba(0,0,0,0.8) !important;
    color: #18ffff;
    font-weight: 900;
    border-radius: 0px 10px 0 10px !important;
    z-index: 10;
}

.spinner-black, .spinner-black-only {
    border-color: #000000;
}

.posted-date {
    position: relative;
    top:10px;
    font-size: 80%;
    color: #BBB !important;
}

a {
    color: #00b8d4;
}

.post-modal-arrow-left {
    float:left;
    left: -10px;
    border-radius: 3px;
    top: -320px;
    background: rgba(0,0,0,0.3) !important;
    box-shadow: none;
}

.post-modal-arrow-left .prev-item-mobile-only {
    display:none;
}

.post-modal-arrow-right {
    float: right;
    right: -10px;
    border-radius: 3px;
    top: -320px;
    background: rgba(0,0,0,0.3) !important;
    box-shadow: none;
}

.post-modal-arrow-right .next-item-mobile-only {
    display:none;
}

.col s12 m5 l5 .post-modal-padding{
    padding-left: 50px;
    padding-right: 50px;
}

/* Smartphones (portrait) ----------- */
/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 600px) {
    #container .container {
        padding-top: 5px;
        width: 100%;
    }

    #container .container .row {
        margin: 0;
    }

    .mobile_search{
        display:block;
    }

    .card {
        width: calc(50% - 5px);
        margin-left: 2.5px;
        margin-right: 2.5px;
        font-size: 13px;
    }

    .card .card-content .card-title {
        font-size: 16px;
    }

    .card .card-reveal .card-title {
        font-size: 16px;
    }

    .card .card-content {
        padding-top: 15px;
        padding-right: 24px;
        padding-bottom: 15px;
        padding-left: 24px;
    }

    .postModal {
        width: 100%;
        height: 100%;
        max-height: 100%;
        /* border-radius: 0px; */
        /* top: 10px !important; */
    }

    .postModalButtonClose {
        color: #222;
    }

    .postImagesSlideshow {
        height: 400px;
    }

    .modal {
        width: 100%;
        height: 100%;
        max-height: 100%;
        top: 0 !important;
        border-radius: 0px;
    }

    .btn-floating.btn-large {
        width: 50px;
        height: 35px;
        font-size: 12px;
        line-height: 35px;
    }

    .custom_search {
        top: 0px;
        height: 56px;
        z-index: 999;
        background-color: rgb(0,0,0);
    }

    .custom_search input[type="search"] {
        font-size: 25px;
    }

    .search_close{
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 30px !important;
    }
    /* .post-modal-arrow-left {
        float:left;
        border-radius: 0px;
        position: absolute !important;
        left: 0px;
        top: 0;
        background: #000 !important;
        box-shadow: none;
        width:50%;
    } */

    /* .post-modal-arrow-left .prev-item-mobile-only {
        display:inline;
        position: absolute;
        top: 0;
    }

    .post-modal-arrow-right {
        float: right;
        border-radius: 0px;
        position: absolute !important;
        left: 50%;
        top: 0px;
        background:#000 !important;
        box-shadow: none;
        width:50%;
    }

    .post-modal-arrow-right .next-item-mobile-only {
        display:inline;
        top: 0;
    } */
}

/* ----------- Medium Screens ----------- */
@media only screen and (min-width: 601px) {
    .card {
        width: calc(33.333% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
    .mobile_search{
        display:block;
    }
}

/* ----------- Large screens ----------- */
@media only screen and (min-width: 993px) {
    .card {
        width: calc(20% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    .mobile_search{
        display:none;
    }
}
